// basic colors
$black-color: #000;
$white-color: #fff;

// additional colors
$main-color: #6cbf6f;
$spare-color: #333;
$extra-color: #449347;

// $text-color: #8c8c8c;
$light-gray: #eee;

// nav animation color
$nav-bg: rgba(108, 191, 111, 0.75);

// btn hover effects
$green-hover: #5f9d62;

// btn styles and hover effects
$section-btn: #dfdfdf;
$spare-effect: #4f4f4f;

// text's color
$text-color: #797979;
$office-card-text: #9b9b9b;
$carrer-text-color: #b6b6b6;

// paws and bones color
$special-color: #5aa95d;
$gray-icons-color: #eee;

// img's background color for meetus card
$diff-bg: rgba(108, 191, 111, 1);

// card's styles
$crew-card-color: #e9e9e9;
$card-special: #6cbf6f;
$card-shadow: #ddd;
$number-color: #ddd;
$special-number-color: #449347;
$special-number-hover: #29622b;
$hover-gray: #bbb;
$hover-green: #49894c;
