@use '../colors/colors';

@media (min-width: 1400px) {
	// header styles
	.header {
		&__box {
			width: 60%;
		}

		&__img {
			top: 42%;
			left: 75%;
			width: 2100px;
		}

		&__icons {
			&--bone {
				bottom: 25%;
				right: 50%;

				svg {
					width: 150px;
				}
			}

			&--first {
				bottom: 70%;
				right: 15%;
				transform: rotate(180deg);
			}

			&--third {
				display: block;
				bottom: 30%;
				left: 95%;
				transform: rotate(45deg);

				svg {
					width: 100px;
				}
			}
		}
	}
	// end of header styles

	// main
	.main {
		// custody section styles
		.custody {
			&__box {
				&--top {
					svg {
						height: 80px;
						width: 80px;
					}
				}

				&--title {
					font-size: 2rem;
				}

				&--text {
					max-width: 36rem;
					font-size: 1.5rem;
				}
			}
		}
		// end of custody section styles

		// offers section styles
		.offers {
			&__body {
				&--title {
					font-size: 4.6rem;
				}

				&--service {
					font-size: 1.5rem;

					svg {
						margin-right: 0.5em;
					}
				}
			}
		}
		// end of offers section styles

		// office section styles
		.office {
			&__head {
				&--title {
					font-size: 5.4rem;
				}

				&--text {
					width: 35%;
				}
			}

			&__card {
				padding: 4em 3em;

				// top, top elements styles
				&--number {
					margin-right: 0.05em;
					font-size: 6.4rem;
				}

				&--text {
					font-size: 1.4rem;
				}
				// end of top, top elements styles

				// bottom styles
				&--bottom {
					font-size: 1.3rem;
				}
				// end of bottom styles

				// icons styles
				&--icon {
					bottom: -55%;
					left: 10%;

					svg {
						width: 110px;
					}

					&-first {
						transform: rotate(5deg);

						svg {
							&:last-child {
								margin-left: 8em;
							}
						}
					}

					&-second {
						bottom: -70%;
						left: 5%;

						svg {
							width: 150px;
						}
					}
				}
				// end of icons styles
			}
		}
		// end of office section styles

		// findus section styles
		.findus {
			// paws box styles
			&__paws {
				right: 50%;
			}
			// end of paws box styles

			// body styles
			&__body {
				&--title {
					margin: 0.2em 0;
					font-size: 5.6rem;
				}
			}
			// end of body styles
		}
		// end of findus section styles

		// crew subpage media
		// head styles
		.head {
			&__container {
				padding: 2em 9em;
			}
		}
		// end of head styles

		// meetus section styles
		.meetus {
			&__card {
				width: 90%;
			}
		}
		// end of meetus section styles
		// end of crew subpage media
	}
	// end of main
}

@media (min-width: 1600px) {
	// main
	.main {
		// findus section styles
		.findus {
			// card styles
			&__card {
				max-width: 1200px;
			}
			// end of card styles
		}
		// end of findus section styles
	}
	// end of main
}
